* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top:46px;
  z-index: 1;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #a13e05;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 43px 11px 43px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #f03506;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 15px;
  width: 100%;
  position: relative;
  top: 2px;
  padding-bottom: 5px;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgb(247, 243, 243);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
